﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="__URL_REGISTRAR_DATOS_PERSONALES" type="hidden" value="@Url.Action("RegistrarDatosPersonales", "Home")" />
<section class="hero-area">
    <div class="hero-slides owl-carousel  bg-texto">

        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <div class="slide-img bg-img" style="background-image: url(@Url.Content("~/images/bg/bg-principal.jpg"));"></div>

        </div>
    </div>
</section>
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="">
            <div class="mostrar-videos item-slick1" style="background-image: url(@Url.Content("~/images/bg/bg-principal.jpg"));">
                <div style="padding-top:70px; text-align:center;">
                    <img src="@Url.Content("~/images/bg/artempresa-02.png")" alt="logo" width="180">
                    <h1>¿Estudiar como si fuera HARVARD?</h1>
                </div>
                <div class="centrar m-t-50">
                    <iframe src="https://www.youtube.com/embed/oilBPWc2k80?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="centrar m-t-10">
                    <p>
                        Únete a Artempresa y comienza a construir la carrera más buscada disponible hoy. Nos aseguramos de que cada clase se entienda fácilmente y de que todos los estudiantes alcancen el mismo nivel de experiencia que se necesita para la industria de alta tecnología de hoy.
                    </p>
                </div>

            </div>


        </div>
    </div>

</section>
<div class="linea-bg-general"></div>
<div class="m-t-40 sombra prueba-gratis m-b-10">
    <div class="row " style="padding:25px;">
        <div class="col-md-12">
            <h1>¿Te gustaría tener acceso gratis?</h1>
        </div>
        <div class="col-md-8 m-input m-b-10">

            <input type="text" class="form-control text-prueba" id="exampleInputEmail1" placeholder="Your Best Email Address">

        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-prueba-gratis" onclick="estamosTrabajando();">Prueba por 2 semanas GRATIS</button>
        </div>
    </div>

</div>
<div class="sec-banner bg0 p-t-50 p-b-10">
    <div class="container">

        <div class="row ">
            <div class="col-md-6">
                <img src="@Url.Content("~/images/bg/grafico1.png")" alt="logo" style="width:100%;">
            </div>
            <div class="col-md-6 title-1-black ">
                <h1>
                    ¿Qué es artempresa?
                </h1>
                <div class="linea-title"></div>
                <iframe class="m-t-30" style="width:100%;" height="315" src="https://www.youtube.com/embed/dG-EDJwYCPU?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="m-t-40"><span>Artempresa</span> es la formula ideal para seguir con nuestra educación continua, basado en la experiencia asociada a la academia y llevada a casos específicos y reales de nuestro medio e idiosincrasia.</p>
            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0 m-b-50">
    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <div class="linea-bg"></div>

            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10">
    <div class="container">

        <div class="row ">
            <div class="col-md-12  title-info-empresa">
                <h1>
                    Obtén los mejores consejos del DR. Pinkas Flint
                </h1>

            </div>
            <div class="col-md-6 title-consejos">
                <iframe class="m-t-30 m-b-10" style="width:90%;" height="315" src="https://www.youtube.com/embed/Zu8DsYwmnzw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h1 >
                    ¿Cómo Vender en Época de Crisis?
                </h1>
            </div>
            <div class="col-md-6 title-consejos ">
                <iframe class="m-t-30 m-b-10" style="width:90%;" height="315" src="https://www.youtube.com/embed/-16ft_bbZOk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h1>
                    ¿Cómo Negociar con la Banca?
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0 m-t-50 m-b-50">
    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <div class="linea-bg"></div>

            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10">
    <div class="container">

        <div class="row ">
            <div class="col-md-6 title-consejos">
                <iframe class="m-t-30 m-b-10" style="width:90%;" height="315" src="https://www.youtube.com/embed/feF6s74XHrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h1>
                    ¿Cómo Evitar ser un "Leproso"?
                </h1>
            </div>
            <div class="col-md-6 title-consejos ">
                <iframe class="m-t-30 m-b-10" style="width:90%;" height="315" src="https://www.youtube.com/embed/K5iNlWbj8ik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h1>
                    ¿Aparece en la foto del Próx. Año?
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0 m-t-50 m-b-50">
    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <div class="linea-bg"></div>

            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10 fondo1">
    <div class="container">

        <div class="row ">
            <div class="col-md-12 ">
                <h1>
                    Conoce más del Dr. Pinkas Flint Blank
                </h1>
            </div>
            <div class="col-md-12  centrar m-t-20">
                <a href="https://www.linkedin.com/in/pinkasflint/">
                    <i class="fa fa-linkedin-square " style="font-size: 42px;" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="sec-banner bg0  p-b-10 m-t-30 ">
    <div class="container">

        <div class="row ">


            <div class="col-md-6 nombre-Pinkas m-t-80">
                <div style=" width:85%; margin:auto">
                    <h1 class="centrar"> Dr. Pinkas Flint Blank</h1>
                    <div class="linea-bg"></div>

                    <ul class="items-cv">
                        <li>
                            &#8203;&#8203;Profesional con más de <b>42 años de experiencia</b> nacional e internacional en Derecho Comercial, Banca de Inversión, Derecho Corporativo, Financiamiento de proyectos e Ingeniería Financiera. Como Abogado Corporativo ha ocupado posiciones en empresas nacionales y extranjeras.
                        </li>
                        <li>
                            &#8203;&#8203;Socio Principa<b>l de Estudio Flint Abogados</b> y Presidente de<b> Flint Consulting Group</b>, empresas dedicadas a operaciones legales y financieras, Presidente de la <b>Asociación TMA Perú</b>.
                        </li>
                        <li>
                            &#8203;&#8203;Director del<b> Instituto de Alta Gerencia</b> asociación educativa especializada en seminarios de capacitación para empresarios, gerentes y profesionales.
                        </li>
                        <li>
                            &#8203;&#8203;Miembro del <b>Colegio de Abogados de Lima</b>, del Legal Network Internacional, Lex Universal e IR Global.
                        </li>
                        <li>
                            &#8203;&#8203;Ha sido profesor del Programa Magister de <b>ESAN</b> y Director de la mención de Gestión Empresarial del Programa de Maestría en Derecho Empresarial de la <b>Pontificia Universidad Católica del Perú</b>.
                        </li>
                        <li>
                            &#8203;&#8203;Autor de textos universitarios y conferencista en diferentes Programas de Derecho y Administración a nivel de <b>Post Grado</b> en Sudamérica.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6  centrar m-t-20 " style="border-radius:8px;">
                <div class="sombra" style="border-radius:8px; width:85%; margin:auto">
                    <img src="@Url.Content("~/images/bg/fotopersonal.png")" alt="logo" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec-banner bg0 m-t-50 m-b-50">
    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <div class="linea-bg"></div>

            </div>
        </div>
    </div>
</div>

<div class="sec-banner bg0  p-b-10">
    <div class="container">

        <div class="row ">
            <div class="col-md-12 title-funcion m-b-40">
                <h1>
                    ¿Cómo Funciona?
                </h1>
                <div class="linea-title" style="margin:auto;"></div>
            </div>
            <div class="col-md-4 sub-title-funcion centrar">
                <img src="@Url.Content("~/images/bg/funcion1.png")" alt="" width="150">
                <h1 class="m-b-10">
                    Portabilidad
                </h1>
                <p>Se permitirá tener acceso completo a los contenidos que estén en la plataforma en todo momento y se podrá acceder a través de cualquier dispositivo móvil.</p>
            </div>
            <div class="col-md-4 sub-title-funcion centrar">
                <img src="@Url.Content("~/images/bg/funcion2.png")" alt="" width="150">
                <h1 class="m-b-10">
                    Acceso a Clases Streaming
                </h1>
                <p>Vas a poder acceder a clases virtuales en vivo. Donde podrás conversar con el profesor sobre el tema que desees. El chat más interactivo en plataformas virtuales.</p>
            </div>
            <div class="col-md-4 sub-title-funcion centrar">
                <img src="@Url.Content("~/images/bg/funcion3.png")" alt="" width="150" >
                <h1 class="m-b-10">
                    Experiencia Harvard
                </h1>
                <p>Obtén la enseñanza de una enminencia de Harvard. Él cual te va a brindar una enseñanza de calidad y del mismo nivel que Harvard.</p>
            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10 m-t-100">
    <div class="container">

        <div class="row ">

            <div class="col-md-4 centrar m-b-100">

                <div class="caja-anuncio-superior">
                    <div class="pricely-label m-t-30">Starter</div>
                    <div class="m-t-30">
                        <div class="pricely-currency ">$</div>
                        <div class="pricely-amount ">99</div>
                    </div>
                    <div class="pricely-foreword m-b-60">Billed annually, no set up fee.</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Built on Bootstrap</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">HTML5 / CSS3</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Responsive</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Elegant Design</div>
                </div>
                <div class="btn-click">
                    <a class="btn btn-primary btn-prueba-gratis ea-buttonBounce1 ">Click to Sign Up</a>
                </div>
            </div>
            <div class="col-md-4 centrar  m-b-100">
                <div class="caja-anuncio-superior">
                    <div class="pricely-label m-t-30">Starter</div>
                    <div class="m-t-30">
                        <div class="pricely-currency ">$</div>
                        <div class="pricely-amount ">99</div>
                    </div>
                    <div class="pricely-foreword m-b-60">Billed annually, no set up fee.</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Built on Bootstrap</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">HTML5 / CSS3</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Responsive</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Elegant Design</div>
                </div>
                <div class="btn-click">
                    <a class="btn btn-primary btn-prueba-gratis ea-buttonBounce2">Click to Sign Up</a>
                </div>
            </div>
            <div class="col-md-4  centrar  m-b-100">
                <div class="caja-anuncio-superior">
                    <div class="pricely-label m-t-30">Starter</div>
                    <div class="m-t-30">
                        <div class="pricely-currency ">$</div>
                        <div class="pricely-amount ">99</div>
                    </div>
                    <div class="pricely-foreword m-b-60">Billed annually, no set up fee.</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Built on Bootstrap</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">HTML5 / CSS3</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Responsive</div>
                </div>
                <div class="caja-anuncio-1">
                    <div class="tipos-label-1 p-t-10  p-b-10">Elegant Design</div>
                </div>
                <div class="btn-click">
                    <a class="btn btn-primary btn-prueba-gratis ea-buttonBounce3 ">Click to Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0 m-t-0 m-b-50">
    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <div class="linea-bg"></div>

            </div>
        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10">
    <div class="container">

        <div class="row ">
            <div class="col-md-6">
                <img src="@Url.Content("~/images/bg/plataforma.jpg")" style="width:100%;">
            </div>
            <div class="col-md-6 title-plataforma centrar">

                <h1 class="m-b-10 m-plataforma">
                    ¿Qué estas esperando?
                </h1>
                <div class="linea-title m-b-20"></div>
                <p>
                    <span>ÚNETE A LA PLATAFORMA DE ARTEMPRESA.</span>
                    Vive la experiencia de poder aprender al estilo Harvard, de forma virtual. Obtén la mejor enseñanza de una de las personas más intelectuales del Perú.
                </p>
            </div>

            <div class="col-md-6 ">

            </div>
            <div class="col-md-6 m-registrate">
                <div class="row ">
                    <div class="col-md-8 m-b-20">

                        <input type="text" class="form-control text-prueba elInputStyle3 elInputBG4" id="txtcorreo" placeholder="Ingrese su correo electrónico">

                    </div>
                    <div class="col-md-4">
                        <button class="btn  btn-registrate2 " id="btnResgistrarse" onclick="AbrirModal()">Regístrate </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="sec-banner bg0  p-b-10 fondo2">
    <div class="container">

        <div class="row ">
            <div class="col-md-12 ">
                <h1>
                    LA MEJOR ENSEÑANZA EN UN SOLA PLATAFORMA
                </h1>
            </div>

        </div>
    </div>
</div>
@*Incio Modal*@
<div id="Modal_Registrarse" class="modal fade" role="dialog" data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header titulo-modal">
                <label><i class="fa fa-user" aria-hidden="true"></i> Registrar Datos Personales</label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type="hidden" id="Id_Empleado" />
            <div class="modal-body sub-titulo-modal" style="background:#fff !important; margin-top:0px;">
                
                <div class="col-md-12">
                    <div class="form-texto">
                        <label class="label-texto" id="nomraz">Nombres:</label>
                        <input id="nombres" class="form-control text-registro elInputStyle3 elInputBG4" onkeypress="_Next('#apellido_paterno')" placeholder="Ingrese su nombre"/>
                    </div>
                </div>
                <div id="DatosPersonales" style="display:block;">
                    <div class="col-md-12">
                        <div class="form-texto">
                            <label class="label-texto">Apellido Paterno:</label>
                            <input id="apellidoPaterno" class="form-control text-registro elInputStyle3 elInputBG4" onkeypress="_Next('#apellido_materno')" placeholder="Ingrese su apellido paterno"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-texto">
                            <label class="label-texto">Apellido Materno:</label>
                            <input id="apellidoMaterno" class="form-control text-registro elInputStyle3 elInputBG4" onkeypress="_Next('#correo')" placeholder="Ingrese su apellido materno" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancelar" onclick="CerrarModal()">Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-guardar" onclick="GuardarUsuario()">Guardar</button>
            </div>
        </div>
    </div>
</div>
@*Fin Modal*@
<script src="~/js/home/index.js"></script>
